@rendermode InteractiveServer
@page "/select"

<PageTitle>Select - GDS Components Demo</PageTitle>

<GdsBackLink Href="/"></GdsBackLink>

<h1 class="govuk-heading-xl">Select</h1>

<p class="govuk-body">
    This component allows you to add select elements to any part of your Blazor application using the GDS recommendations.
</p>

<h2 class="govuk-heading-l">Examples</h2>
<h3>Using a dictionary</h3>

<details class="govuk-details">
    <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
            View code example
        </span>
    </summary>
    <pre><code>@SelectDictCodeExample</code></pre>
</details>

<GdsSelect @bind-Value="SelectedContactType" T="int">
    @foreach(var value in ContactTypes)
    {
        <option value="@value.Key">@value.Value</option>
    }
</GdsSelect>
<p>Selected Value: @SelectedContactType</p>

<h3>Using an enum</h3>

<details class="govuk-details">
    <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
            View code example
        </span>
    </summary>
    <pre><code>@SelectEnumCodeExample</code></pre>
</details>

<GdsSelect @bind-Value="SelectedContactTypeEnum" T="ContactTypeEnum">
    @foreach (var value in Enum.GetValues(typeof(ContactTypeEnum)))
    {
        <option value="@value">@value</option>
    }
</GdsSelect>
<p>Selected Value: @SelectedContactTypeEnum</p>

@code {
    private string SelectDictCodeExample = """
        <GdsSelect @bind-Value="SelectedContactType" T="int">
            @foreach(var value in ContactTypes)
            {
                <option value="@value.Key">@value.Value</option>
            }
        </GdsSelect>

        @code {
            private int SelectedContactType = 1;
            private Dictionary<int, string> ContactTypes = new Dictionary<int, string>
            {
                { 0, "None" },
                { 1, "Phone" },
                { 2, "Email" },
                { 3, "Text" },
                { 4, "Post" }
            };
        }
        """;

    private string SelectEnumCodeExample = """
        <GdsSelect @bind-Value="SelectedContactTypeEnum" T="ContactTypeEnum">
            @foreach (var value in Enum.GetValues(typeof(ContactTypeEnum)))
            {
                <option value="@value">@value</option>
            }
        </GdsSelect>

        @code {
            private ContactTypeEnum SelectedContactTypeEnum = ContactTypeEnum.Text;
            private enum ContactTypeEnum    
            {
                None,
                Phone,
                Email,
                Text,
                Post
            };
        }
        """;

    private int SelectedContactType = 1;
    private Dictionary<int, string> ContactTypes = new Dictionary<int, string>
    {
        { 0, "None" },
        { 1, "Phone" },
        { 2, "Email" },
        { 3, "Text" },
        { 4, "Post" }
    };

    private ContactTypeEnum SelectedContactTypeEnum = ContactTypeEnum.Text;
    private enum ContactTypeEnum    
    {
        None,
        Phone,
        Email,
        Text,
        Post
    };
}